<select (change)="onChange($event.target.value)">
  <option value="all" selected="selected">Show All</option>
  <option value="healthy">Healthy Foods</option>
  <option value="unhealthy">Unhealthy Foods</option>
</select>
<new-food (onSubmitNewFood)="createFood($event)"></new-food>
<div *ngIf="selectedFood">
  <edit-food-details [food]="selectedFood"> </edit-food-details>
</div>


<div class="foodDetails">
  <food-display *ngFor="#currentFood of foodList | healthy:filterHealthy"
  (click)="foodClicked(currentFood)"
  [class.selected]="currentFood === selectedFood"
  [food]="currentFood">
</food-display>
</div>
