.container {
  max-width: 100%;
}

h1 {
  color: blue;
}

.food-form {
  margin-top: 20px;
  margin-bottom: 40px;
}

.editLog {
  padding-top: 10%;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
