body {
  overflow-y: hidden;
}

.container {
  background-color: #AACD6E;
  border: 2px solid #3C3530;
  margin-top: 5%;
  border-radius: 5px;
  font-family: 'Poiret One', sans-serif;
  max-height: 100%;
  padding-bottom: 50px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  color: #3C3530;
  text-align: center;
  font-size: 4em;
}

select {
  margin-left: 45%;
  margin-right: 45%;
}

.food-form {
  background: rgba(255,255,255,0.80);
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  input {
    margin-left: 2%;
  }
}


.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*******List********/

.listUnderline {
  border: 1px solid #fff;
  list-style: none;
  cursor: crosshair;
}

div.foodDetails {
  margin-top: 15%;
  max-width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
